*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
   

}
html{
    scroll-behavior: smooth;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background: #eff4fd;
    z-index: 1000; 
  
  }
.logo{
    font-size: 33px;
    color: black;
    font-weight: 700;
}
 nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    
 }

 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: orange; 
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;

}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    border: 1px solid orange;
    transition: background 0.5s;

}

.detel a:hover{
    background: orange;
}


.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}
.images:hover .shape{
    bottom: 40px;
}

.images:hover .me{
    left: 45%;
}
/*---------------about---------------*/
#about{
    background: #eff4fd;
    padding: 80px 0;
    color: #0a0a0a;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
    margin-left: 10%;

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:rgb(4, 3, 3)
}
.size{
    font-size: 205px;
    font-weight: 600;
}

.fa-classic, .fa-regular, .fa-solid, .far, .fas {
    font-family: "Font Awesome 6 Free";
    color: rgb(4, 3, 3);
    
    
    font-weight: 6;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:  50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: orange;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ef7828;
    font-size: 14px;
}
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}


/*---------------portfolio---------------*/
#portfolio{
    background: #eff4fd;
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #f9f9f9);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 30px;
}

.layer a{
    margin-top: 20px;
    color: #db742f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #f4eeee;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    background: #212121;
    padding: 14px 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: block;
    margin: 50px auto;
    border-radius: 6px;
    width: fit-content;
    border: 1px solid orange;
    transition: background 0.5s;
}

.btn:hover{
    background: orange;
}

/*---------------services---------------*/
#services{
    padding: 30px 0;
    background: #eff4fd;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #d2dff6;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: orange;
    transform: translateY(-10px);
}
/*---------------contact---------------*/
#contact{
    background: #eff4fd;
}
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    margin-left: 10%;

}
.contact-left p i{
    color: orange;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
    margin-left: 10%;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #212121;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: orange;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #d2dff6;
    padding: 15px;
    margin: 15px;
    color: gray;
    font-size: 18px;
    border-radius: 6px;
    margin-left: -3%;

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    background: #eff4fd;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #eff4fd;
    font-weight: 300;
    margin-top: 20px;

}
.copyright i{
    color: orange;
}

